h1{
  color: white;
  text-align: center;
  font-size: 50px;
  }
  
  body{
    background-color: rgb(2, 0, 0);
  }
.brain{
    width: auto;
    height: 500px;
 display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}
.text{
  color: white;
}