body{
  background-color: rgba(128, 128, 128, 0.055);
}

.intestine{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -25px
}

.intestine img{
  width: 100px;
  animation: fallingintestine 6s linear infinite;
}

.intestine img:nth-child(1){
  left: 86%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.intestine img:nth-child(2){
  left: 12%;
  width: 80px;
  height: 80px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.intestine img:nth-child(3){
  left: 72%;
  width: 50px;
  height: 50px;
  animation-delay: 4.5s;
  width: 65px;

}.intestine img:nth-child(4){
  left: 72%;
  width: 60px;
  height: 60px;
  animation-delay: 3s;
  animation-duration: 8s;
}

.intestine img:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.intestine img:nth-child(6){
  left: 15%;
  width: 70px;
  height: 70px;
  animation-delay: 3.5s;
}

@keyframes fallingintestine{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity:1;
  }
  100%{
    transform:translateY(-800px) rotate(360deg);
    opacity :0;
  }
}
