.intestine-img{
  position:absolute;
  top:0;
  left:0;
  height: 40px;
  width: 40px;
  display: block;
  animation: fallingintestine 6s linear infinite;
}

.intestine-img:nth-child(1){
  left: 86%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.intestine-img:nth-child(2){
  left: 12%;
  width: 20px;
  height: 20px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.intestine-img:nth-child(3){
  left: 72%;
  width: 50px;
  height: 50px;
  animation-delay: 4.5s;
  width: 65px;

}.intestine-img:nth-child(4){
  left: 72%;
  width: 60px;
  height: 60px;
  animation-delay: 3s;
  animation-duration: 8s;
}

.intestine-img:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.intestine-img:nth-child(6){
  left: 15%;
  width: 70px;
  height: 70px;
  animation-delay: 3.5s;
}

@keyframes fallingintestine{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity:1;
  }
  100%{
    transform:translateY(-800px) rotate(360deg);
    opacity :0;
  }
}
