h1{
color: white;
text-align: center;
}

body{
background-color: black;
text-align:center;
}

.fullbody {
margin-left: auto;
margin-right: auto;
width: auto;
height: 800px;
}

.glass {
  margin-bottom: 750px;
  position: relative;
  display: inline-block;
}
.glass .img-bottom{
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.glass .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.glass:hover .img-top {
  display: inline;
}
.glass:hover .img-bottom{
  display: none;
}
* {box-sizing: border-box;}


.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
 
  border: 0px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 350px;
  height: 350px;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
}

.close{
  font-size: 28px;
  margin-left: 140px;
  margin-top: 380px;
  position: absolute;

}