body{
    background-color: rgba(0, 0, 0, 0);
  }
.text-align{
  text-align: center;
}
  .organ{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
  }
  
  .organ img{
    width: 100px;
    animation: fallingorgan 6s linear infinite;
  }
  
  .organ img:nth-child(1){
    
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 5s;
  }
  
  .organ img:nth-child(2){
    
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 10s;
  }
  
  .organ img:nth-child(3){
    
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 3s;
    width: 65px;
  
  }.organ img:nth-child(4){
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 8s;
  }
  
  .organ img:nth-child(5){
   
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 7s;
  }
  
  .organimg:nth-child(6){
    
    width: 70px;
    height: 70px;
    animation-delay: 3.5s;
  }
  
  @keyframes fallingorgan{
    0%{
      transform: translateY(0) rotate(0deg);
      opacity:1;
    }
    100%{
      transform:translateY(800px) rotate(360deg);
      opacity :0;
    }
  }
  .organ-gif{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0%;
  }
  .text{
  color: black;
  text-align: center;
  font-size: xx-large;
  }
  